<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
      <record id="hr_attendance_action_kiosk_mode_test" model="ir.actions.client">
        <field name="name">Attendances</field>
        <field name="tag">hr_attendance_kiosk_mode_test</field>
        <field name="target">fullscreen</field>
    </record>
    <menuitem id="menu_parking_root"
              name="Parking Management"
              web_icon="parking_24,static/description/icon.png"
              sequence="0"/>
    <menuitem id="menu_parking_reg_root"
              name='Registration'
              parent="menu_parking_root"
              sequence="1"/>
    <menuitem id="menu_processing_root"
              name='Parking Process'
              parent="menu_parking_root"
              sequence="2"/>

    <menuitem id="menu_kiosk_root"
              name='Kiosk Mode'
              parent="menu_parking_root"
              sequence="4"/>

    <!--for attendence kiosk mode-->
    <menuitem id="menu_hr_attendance_kiosk_no_user_mode"
              name="Kiosk Mode"
              parent="menu_kiosk_root"
              sequence="10"
              action="hr_attendance_action_kiosk_mode_test"/>



    <!--    att-->


    <menuitem id="menu_wizard_root"
              name='Scanning In out'
              parent="menu_parking_root"
              sequence="3"/>

    <menuitem id="menu_wizard_inout"
              name='In Out'
              action="action_wizard_inout_parking"
              parent="menu_wizard_root"
              sequence="20"/>

    <menuitem id="menu_employee_reg"
              name="Employee Registration"
              action="action_employee_parking"
              parent="menu_parking_reg_root"
              sequence="2"/>
    <!--For kiosk mode-->
    <menuitem id="menu_employee_reg_kiosk"
              name="Kiosk Mode"
              action="action_employee_parking_kiosk"
              parent="menu_kiosk_root"
              sequence="2"/>
    <menuitem id="menu_employee_reg_kiosk2"
              name="Kiosk Mode2"
              action="action_kiosk_attendance"
              parent="menu_kiosk_root"
              sequence="2"/>
    <!--End of kiosk mode-->

    <menuitem id="menu_in_or_out_record"
              name="In Out Process"
              action="action_inorout_parking"
              parent="menu_processing_root"
              sequence="5"/>

    <menuitem id="menu_report_record"
              name="Reporting"
              action="action_inorout_parking_report"
              parent="menu_processing_root"
              sequence="5"/>
</odoo>